# Node.js dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Docker related files
*.log
*.pid
*.dockerfile
docker-compose.override.yml

# Build artifacts
frontend/.next/
frontend/out/
backend/build/
backend/.vscode/

# Environment files (optional, if you're using .env files)
.env
.env.local
.env.prod

# Mac OS specific
.DS_Store

# VS Code specific
.vscode/

# NPM/Yarn lock files for the entire repo (if you're using yarn in both frontend and backend)
package-lock.json
yarn.lock